<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<!-- Тестовая установка шаблона таблиц-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<!--<script   src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
-->
<br>
<div class="container">
    <div class="mb-3" align=right>
        <p>
            <a class="btn btn-primary" href="/" role="button">Назад</a>
            <a href="/logout" class="btn btn-outline-danger" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"></path>
                <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"></path> </svg>
                Выход
        </a>
        </p>
    </div>
</div>
<div class="mb-3">
    <div class="row" align=center>
        <h2>Список карт</h2>
    </div>
</div>
<div class="container">
    <table id="table_id" class="display">
    <!--<table class="table">-->
        <thead>
            <div class="mb-3">
                <tr>
                    <th scope="col">ID карты</th>
                    <th scope="col">Дата назначение</th>
                    <th scope="col">Дозировка</th>
                    <th scope="col">Назначение</th>
                    <th scope="col">Исполнение назначения</th>
                    <th scope="col">Отпущено</th>
                    <th scope="col">Остаток</th>
                </tr>
            </div>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
    <script>
        $(document).ready(function() {
            $('#table_id').DataTable( {
                "processing": true,
                "paging":   false,
                "info":     false,
                ajax: "/api/v1/resources/get_cards",
                columns:[
                    {
                        data: 'id'
                    },
                    {
                        data: 'date_init'
                    },
                    {
                        data: 'water_type',
                        render: function(data) {
                            switch(data) {
                                case 1: return '100мг'; break;
                                case 2: return '150мг'; break;
                                case 3: return '200мг'; break;
                            }
                        }
                    },
                    {
                        data: 'total_limit'
                    },
                    {
                        data: 'total_limit',
                        render: function(data, type, row, meta) {
                            return type === 'display' ?
                                '<progress value="' + row.realese_count + '" max="' + row.total_limit +'"></progress>' :
                            data;
                        }
                    },
                    {
                        data: 'realese_count'
                    },
                    {
                        data: 'total_left'
                    }

                ]
            } );
        } );
    </script>
    </body>
</html>

